.indeterminate {
    display: none;
}
.places-page{
    display: none
}
#home-img{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 70%;
    width: 70%;
}
#nearestPlaces {
    display: none;
}
#home {
    width: 60%;
    display: block;
    margin-top: 10px;
    height: 80%;
}

#preloader{
    display: none;
}
#homeBtn{
    margin-left: 20px;
}
#findLoc {
    margin-bottom: 20px;
}
#success {
    display: none;
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    height: 40px;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    #home {
        width: 100%;
        display: block;
        margin-top: 10px;
    }
}