body {
    background-color: cornflowerblue;
}
.responsive-img {
    width: 100%;
    height: auto;
}
.card-content {
    margin-top: 7px;
    height: 212.39px;
   
}
.pin {
    width: 80%;
}
.addBtn {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: red;
    margin-top: 170px; 
    color: white;
}
.addIcon {
    margin-top: 10px; 
}
.mapIcon {
    width: 100%;
}
#homeRow, #placeRow {
    background-color: rgba(255, 255, 255, 0.479);
    background: blur(4px);
}
#placeRow {
    margin-bottom: 1.5em;
}

