body {
  background-color: cornflowerblue
}
#placeDetailsPane {
  background-color: #ffffff71;
  background: blur(10px);
  border: 3px solid white;
}
.reviewDetails {
  overflow: auto;
  display: inline-block
}
.img {
  float: right;
  width: 50%;
  height: 100%;
}
li {
  width: 50%
}
ul.collection {

  display: flex;
}